[submodule "crafted-console-frontend"]
	path = crafted-console-frontend
	url = https://github.com/Usergnalin/crafted-console-frontend
[submodule "crafted-console-api"]
	path = crafted-console-api
	url = https://github.com/Usergnalin/crafted-console-api
