[submodule "fluxite-frontend"]
	path = fluxite-frontend
	url = https://github.com/Usergnalin/fluxite-frontend
[submodule "fluxite-api"]
	path = fluxite-api
	url = https://github.com/Usergnalin/fluxite-api
